:root {
    --Color1: #FDDEF3;
    --Color2: #F033B4;
    --Color3: #AE0D7A;
    --Color4: #510639;
    --Color5: #340926; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#skillslist {
    columns: 4;
}

h1 {
    font-style: italic;
    color: var(--Color5);
    font-variant: small-caps;
}

.sectionheader {
    color: var(--Color2);
    font-style: italic;
    font-variant: small-caps;
}

.employerName {
    color: var(--Color3);
}

.postionTitle {
    color: var(--Color3);
    font-weight: bold;
    font-variant: small-caps;
}

table {
    margin: 14px;
    border-collapse: separate;
    border-spacing: 7px;
    padding: 7px;
    width: 99%;
}

caption {
    font-style: italic;
    color: var(--Color2);
    letter-spacing: 2px;
    text-decoration: underline;
}

th {
    font-style: italic;
    font-variant: small-caps;
    color: var(--Color3);
}

td {
    border: 1px solid var(--Color4);
    vertical-align: top;
    padding: 7px;
    color: var(--Color5);
}

.form-container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

em {
    font-style: italic !important;
    color: #AE0D7A; /* remove or change as desired */
}

strong {
    font-weight: 700 !important;
    color: #AE0D7A; /* remove or change as desired */
}

.summary-table {
    width: 100%;
    border-collapse: collapse;
    margin: 8px 0 16px;
}
.summary-table th {
    background: #AE0D7A;
    text-align: left;
    font-weight: 600;
}
.summary-table td, .summary-table th {
    border: 1px solid #AE0D7A;
    padding: 8px;
}
div p {
    margin: 0;
}

ul.a {
    list-style-type: circle;
}

ul {
    list-style-position: inside;
}

p {
    color: var(--Color5);
    background-color: var(--Color3);
    font-size: x-large;
    padding: 2px 6px;
    border-radius: 4px;
}

selector: pseudo-class name {
    property: value;

}

div:hover {
    background-color: var(--Color1);
}

a:hover {
    color: var(--Color2);
    font-weight: bold;
}


* {
    font-family: Arial, Helvetica, sans-serif;
}

